.container {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height:100vh;
}

.mainTitle {
    text-align: center;
}

.mainBody {
    position: absolute;
    background-color: rgba(255,255,255,.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-height: 100%;
    overflow-y: scroll;
    box-shadow: 2px 2px 4px;
}

@keyframes slide {
    0% {
        transform: translateY(-2500px);
    }
    100% {
        transform: translateY(0px);
    }
}

.imageBackground {
    position: relative;
    height: 2500px;
    top: 0px;
    animation: slide 90s infinite linear;
}

.letterContainer {
    white-space: pre-line;
    padding: 5px;
    font-family: cursive;
}